:root {
    --primary-color: #2E2F42;
    --second-color:#FFF;
    --primary-link-color: #434455;
    --accent-color: #4D5AE5;
    --main-font: 'Roboto', sans-serif;
    --other: #F4F4FD;
    --hover-focus-color: #404BBF;
  }

  .body {
    font-family: var(--main-font);
    color: var(--primary-link-color);
    background-color:var(--second-color);
  }

  /*---------Universal classes---------*/
.list {
    list-style-type: none;
}
.link {
   text-decoration: none;
}
button {
    cursor: pointer;
}

/*---------HEADER---------*/
.header-logo {
  color: var(--accent-color);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
}

.header-logo-studio {
color: var(--primary-color);
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
}    

.header-nav-link {
color: var(--primary-color);
font-family: var(--main-font);
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.32px;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--hover-focus-color);
}

.header-address {
font-style: normal;
}

.header-adress-link {
color: var(--primary-link-color);
font-family: var(--main-font);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px;
}

.header-adress-link:hover,
.header-adress-link:focus {
  color: var(--hover-focus-color);
}

/*---------HERO---------*/
.hero-section {
background-color: var(--primary-color);
}

.hero-tittle {
color: var(--second-color);
text-align: center;
font-family: var(--main-font);
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 1.12px;
}

.hero-btn {
color: var(--second-color);
background-color: var(--accent-color);
font-family: var(--main-font);
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.64px;
}

.hero-btn:hover,
.hero-btn:focus {
background-color: var(--hover-focus-color);
}

/*---------ADVANTAGES---------*/
.advantages-tittle {
color: var(--primary-color);
font-family: var(--main-font);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
}

.advantages-text {
color: var(--primary-link-color);
font-family: var(--main-font);
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px;
}

/*---------TEAM---------*/
.team {
  background-color: var(--other);
}

.tittle {
color: var(--primary-color);
text-align: center;
font-family: var(--main-font);
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
}

.team-item {
  background-color: var(--second-color);
}

.team-card-tittle {
color: var(--primary-color);
font-family: var(--main-font);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
}

.team-text {
color: var(--primary-link-color);
font-family: var(--main-font);
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px;
}

/*---------PORTFOLIO---------*/
.portfolio-tittle {
color: var(--primary-color);
font-family: var(--main-font);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
}

.portfolio-text {
color: var(--primary-link-color);
font-family: var(--main-font)
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px;
}

/*---------FOOTER---------*/
.footer {
background-color: var(--primary-color);
}

.footer-logo-link {
color: var(--accent-color);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
}

.footer-logo-studio {
color: var(--other);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;    
}

.footer-text {
color: var(--other);
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px;
}

.footer-text: ::before{
color: var(--other);
}

